body{
    text-align: center;
    margin: auto;
    background-image: linear-gradient(to right ,rgb(78, 29, 29), red );
}
.main {
    background-color: rgb(255, 255, 255);
    max-width: 60%;
    margin: auto;
    margin-top: 20px;
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    text-align: center;
}
li{
    list-style: none;
}
.twinSection{
    min-width: 40%;
    display:inline-block;
    border:2px solid black;

}
#report{
    max-width: 80%;
}
#description{
    min-height: 40px;
}
.incomeTransaction{
    background-color: #67f948;
}
.expenseTransaction{
    background-color: #ff4242;
}